.Body-Card:hover {
    transform: scale(1.1);
    
    transition: all ease-out 0.3s;
}

.Body-Card {
    margin-top: 100px;    
    height: 350px;
    width: 350px;
    position: relative;    

    .Card-Image {
        height: 100%;
    }        

    .Hover-Card {        
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        opacity: 0;
        color: #fff;        
    }

    .Hover-Card:hover {                
        transition: all 0.5s 0s ease;
        opacity: 1;        
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(255,255,255,0) 100%);
     }

     h3, .Card-Content {
         position: absolute;   
         font-weight: bold;         
     }

     h3 {
         bottom: 50px;
         font-size: 18px;
         text-align: center;
     }

     .Card-Content {
         bottom: 5px;
         
     }

     .Programa-Card {
         position: absolute;
         bottom: -55px;
         left: 10px;
         font-size: 14px;
         color: rgb(82, 82, 82);
         font-weight: 300;         
     }

     
}


@media only screen and (max-width: 1200px) {

    .Body-Card {
        text-align: center;
        
        
    }
}

